widgetsnbextension==4.0.13
jupyterlab_widgets==3.0.13
ipywidgets==8.1.5
Brotli==1.0.9
certifi==2024.8.30
charset-normalizer==3.3.2
filelock==3.13.1
idna==3.7
MarkupSafe==2.1.3
mkl-service==2.4.0
mpmath==1.3.0
networkx==3.2.1
pillow==10.4.0
PySocks==1.7.1
PyYAML==6.0.2
setuptools==72.1.0
typing_extensions==4.11.0
wheel==0.44.0
Jinja2==3.1.4
pip==24.2
sympy==1.13.2
urllib3==2.2.3
requests==2.32.3
mkl_fft==1.3.10
mkl_random==1.2.7
torch==2.4.1
torchaudio==2.4.1
triton==3.0.0
torchvision==0.19.1
pytz==2024.2
py-cpuinfo==9.0.0
nvidia-ml-py==12.560.30
ninja==1.11.1.1
hjson==3.1.0
xxhash==3.5.0
Werkzeug==3.0.4
tzdata==2024.2
tqdm==4.66.5
tensorboard-data-server==0.7.2
six==1.16.0
safetensors==0.4.5
regex==2024.9.11
pydantic_core==2.23.4
pyarrow==17.0.0
psutil==6.0.0
psutil==5.9.0
protobuf==5.28.2
propcache==0.2.0
packaging==24.1
multidict==6.1.0
msgpack==1.1.0
Markdown==3.7
grpcio==1.66.2
fsspec==2024.6.1
frozenlist==1.4.1
dill==0.3.8
attrs==24.2.0
annotated-types==0.7.0
aiohappyeyeballs==2.4.3
absl-py==2.1.0
yarl==1.15.2
tensorboard==2.18.0
python-dateutil==2.9.0.post0
python-dateutil==2.9.0
pydantic==2.9.2
multiprocess==0.70.16
huggingface-hub==0.25.2
aiosignal==1.3.1
pandas==2.2.3
deepspeed==0.15.2
aiohttp==3.10.10
accelerate==1.0.1
datasets==3.0.1
smmap==5.0.1
setproctitle==1.3.3
sentry-sdk==2.17.0
platformdirs==4.3.6
docker-pycreds==0.4.0
click==8.1.7
gitdb==4.0.11
GitPython==3.1.43
wandb==0.18.5
faiss==1.8.0
threadpoolctl==3.5.0
scipy==1.14.1
joblib==1.4.2
scikit-learn==1.5.2
debugpy==1.6.7
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
nest_asyncio==1.6.0
parso==0.8.4
pickleshare==0.7.5
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyzmq==25.1.2
tornado==6.4.1
traitlets==5.14.3
wcwidth==0.2.13
zipp==3.20.2
asttokens==2.4.1
comm==0.2.2
importlib_metadata==8.5.0
jedi==0.19.1
jupyter_core==5.7.2
matplotlib-inline==0.1.7
pexpect==4.9.0
prompt_toolkit==3.0.48
jupyter_client==8.6.3
stack-data==0.6.2
ipython==8.29.0
ipykernel==6.29.5
pyparsing==3.2.0
kiwisolver==1.4.7
fonttools==4.54.1
cycler==0.12.1
contourpy==1.3.0
matplotlib==3.9.2
seaborn==0.13.2
numpy==1.26.0
GPUtil==1.4.0
rpds-py==0.22.3
narwhals==1.21.1
referencing==0.35.1
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
altair==5.5.0
tenacity==9.0.0
plotly==5.24.1
fastjsonschema==2.21.1
nbformat==5.10.4
sentencepiece==0.2.0
sniffio==1.3.1
jiter==0.8.2
h11==0.14.0
distro==1.9.0
httpcore==1.0.7
anyio==4.8.0
httpx==0.28.1
openai==1.59.9
mdurl==0.1.2
markdown-it-py==3.0.0
rich==13.9.4
typeguard==4.4.1
shtab==1.7.1
docstring_parser==0.16
tyro==0.9.12
trl==0.11.0
tokenizers==0.20.3
transformers==4.45.2
einops==0.8.0
flash-attn==2.7.3
